---
import Profile from '../components/Profile.astro';
import Projects from '../components/Projects.astro';
import Layout from '../layouts/Layout.astro';

const API_BASE_URL = import.meta.env.API_BASE_URL;

const FETCH_OPTIONS = {
	method: 'GET',
	headers: {
		'Content-Type': 'application/json'
	},
};

const [profileData, projectsData] = await Promise.all([
	fetch(`${API_BASE_URL}/profile`, FETCH_OPTIONS).then(res => res.ok ? res.json() : Promise.reject(res)),
	fetch(`${API_BASE_URL}/projects`, FETCH_OPTIONS).then(res => res.ok ? res.json() : Promise.reject(res))
]);
---

<Layout>
	<div class="grid md:grid-cols-2 gap-20" slot="main">
		<Profile data={profileData.data} />
		<Projects className="shrink-0 grow-0" data={projectsData.data} />
	</div>
</Layout>


