---
import Project from "./Project.astro";

const { className, data } = Astro.props;

const initialAnimationDelay = 1.7; // seconds

type Project = {
	id: number;
	title: string;
	description: string;
	image_url: string;
	url: string;
};
---
<section class={`space-y-6 md:pt-20 pb-20 md:pb-0 ${className}`}>
	<h2 class="text-xl motion-safe:opacity-0 motion-safe:animate-fade-in" style="animation-delay: 1.6s">Some fun projects I got to work on:</h2>

	<div class="grid gap-6">
		{data.map((project: Project, index: number) => (
			<Project project={project} className={`motion-safe:opacity-0 motion-safe:animate-fade-up`} style={`animation-delay: ${initialAnimationDelay + index * 0.1}s`} />
		))}
	</div>
</section>