---
import Project from "./Project.astro";

const { className, data } = Astro.props;

type Project = {
	id: number;
	title: string;
	description: string;
	image_url: string;
	url: string;
};
---
<section class={`space-y-6 ${className}`}>
	<h2 class="text-xl">A curated selection of projects</h2>

	<div class="space-y-6 flex flex-col items-start">
		{data.map((project: Project) => (
			<Project project={project} />
		))}
	</div>
</section>