---
import "../styles/main.css";
---
<!doctype html>
<html lang="en" class="m-0 w-full h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Nick Denys - Full Stack Developer</title>
	</head>
	<body class="m-0 w-full h-full antialiased bg-charcoal text-ivory font-body">
		<main class="p-8 max-w-4xl mx-auto min-h-dvh md:justify-center flex flex-col">
			<slot name="main" />
		</main>
	</body>
</html>
