---
import { ClientRouter } from 'astro:transitions';
import "../styles/main.css";
---
<!doctype html>
<html lang="en" class="m-0 w-full h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Nick Denys • Full Stack Developer</title>
		<meta name="description" content="Nick Denys is a full-stack developer located in Ghent, with a special interest in complex development, UX and creating beautiful, robust applications." />
		<slot name="head" />
		<ClientRouter />
	</head>
	<body class="m-0 w-full h-full antialiased bg-charcoal text-ivory font-body">
		<main>
			<slot name="main" />
		</main>
	</body>
</html>
